Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -performance-enum-size,
  modernize-use-nullptr,
  modernize-use-override,
  readability-container-size-empty,
  readability-misleading-indentation
WarningsAsErrors: '*'
HeaderFilterRegex: 'lib/core/src/.*'
